footer
  .container.text-center
    p.pull-left © 2014 In-App, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/danielduan/in')
          span.ion-fork-repo
          | GitHub Project
      li
        a(href='https://github.com/danielduan/in/issues')
          span.ion-alert
          | Issues
