<ons-page class="center">
  <ons-row align="bottom" style="height:60%">
    <ons-col>
      <ons-icon icon="linkedin" class="li-blue" size="5x"></ons-icon>
    </ons-col>
  </ons-row>
  <ons-row align="bottom" style="height:10%">
    <ons-col>
      <p> Connect[in] the world, <br/>
        one [in] at a time. </p>
    </ons-col>
  </ons-row>
  <ons-row align="bottom" style="height:30%">
    <ons-col>
      <ons-button ng-click="ons.navigator.pushPage('signup.html',
        { hideToolbar: false, title: 'Sign Up' })"
        type="large--quiet" class="li-blue">
        Sign Up
      </ons-button>
    </ons-col>
    <ons-col>
      <ons-button ng-click="ons.navigator.pushPage('login.html',
        { hideToolbar: false, title: 'Log In' })"
        type="large--quiet" class="li-blue">
        Log In
      </ons-button>
    </ons-col>
  </ons-row>
</ons-page>
