extends layout

block content
  .row
    .col-sm-6
      img(src='http://i.imgur.com/DuNImjR.png' style='width:250px; margin: 0 auto;')
    .col-sm-6
      img(src='http://i.imgur.com/ophR18z.png' style='width:250px; margin: 0 auto;')
  hr
  h1 In
  p.lead An easier way to send LinkedIn puns.
