extends layout

block content
  .row
    .col-sm-6
      img(src='http://i.imgur.com/6tHOUT3.png' style='width:400px; margin: 0 auto;')
    .col-sm-6
      img(src='http://i.imgur.com/S5c65Pj.png' style='width:400px; margin: 0 auto;')
  hr
  h1 In
  p.lead An easier way to send Linked[In]s.
